* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    background-color: white;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    margin: 0 auto;
    max-width: 1180px;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 16px 20px;
    background: #fff;
    z-index: 2;
}

.header-contacts {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.header-contacts a {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
    color: #292929;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 76px);
}

.content-blocks {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 45px;
}

.devices {
    position: absolute;
    bottom: -58px;
    right: -155px;
    width: 100%;
    max-width: 850px;
}

.content-block {
    display: flex;
    align-items: center;
}

.content-block.left {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-basis: 50%;
}

.content-block.left .description {
    margin-bottom: 124px;
}

.content-block .title {
    color: #292929;
    font-weight: 600;
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 20px;
}

.content-block .title b {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    text-transform: uppercase;
    color: #D52B1E;
}

.content-block p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #292929;
}

.content-block p span {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #D52B1E;
    border-right: 3px solid #D52B1E;
    padding-right: 2px;
    transition: opacity 0.3s;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        border-right: 3px solid #D52B1E;
    }
    50% {
        border-right: 3px solid transparent;
    }
    100% {
        border-right: 3px solid #D52B1E;
    }
}

.content-button {
    padding: 16px 20px;
    max-width: 256px;
    width: 100%;
    height: 52px;
    background: #0039A6;
    border-radius: 12px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    transition: background .3s;
    cursor: pointer;
}

.content-button:hover {
    background: #003291;
}

.content-button.mobile {
    display: none;
}

.form-request {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
}

.form-request.open {
    display: block;
}

.form-request-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
    right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 20px 24px;
    border-radius: 10px;
    background: #fff;
    max-width: 700px;
    width: 100%;
}

.form-request-content .title {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #1B2934;
    margin-bottom: 8px;
}

.form-request-content .description {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #1B2934;
    margin-bottom: 20px;
}
.form-request-content .icon-close {
   position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.form-request-content form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}
.form-request-content form label,
.form-request-content form label input {
    width: 100%;
}

.form-request-content form .form-group{
    display: flex;
    gap: 12px;
}

.form-group p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.form-group button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 256px;
    width: 100%;
    height: 52px;
    background: #0039A6;
    border-radius: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background .3s;
}

.form-group button:hover {
    background: #003291;
}

.form-group input {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 12px;
    gap: 5px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    border-radius: 5px;
    outline: none;
}

.form-group textarea {
    padding: 10px 12px;
    border: 1px solid #D4D4D4;
    outline: none;
    border-radius: 5px;
    width: 100%;
}

@media screen and (max-width: 1076px) {
    .header-logo {
        width: 192px;
        height: 28px;
    }

    .header-contacts a {
        font-size: 12px;
    }

    .content {
        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .content-blocks {
        height: 100vh;
    }

    .devices {
        position: absolute;
        top: 50%;
        right: 50%;
        width: 60%;
        transform: translateY(-36%) translateX(55%);
    }


    .content-block.left {
        align-items: center;
        padding-top: 40px;
        margin-bottom: 35px;
        flex-basis: 100%;
    }

    .content-block.left .description {
        text-align: center;
        margin-bottom: 0;
    }

    .content-button {
        display: none;
    }

    .content-button.mobile {
        display: block;
        margin-bottom: 45px;
    }

    .content-block .title b {
        font-size: 32px;
    }

    .content-block .title {
        font-weight: 600;
        font-size: 32px;
        line-height: 100%;
        max-width: 500px;
        text-align: center;
        margin-bottom: 16px;
    }

    .content-block p {
        font-size: 16px;
        line-height: 20px;
    }
}

@media screen and (max-width: 768px) {
    .form-group button {
        max-width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .devices {
        position: absolute;
        top: 50%;
        right: 50%;
        width: 85%;
        transform: translateY(-15%) translateX(54%);
    }

    .form-request-content .description {
        font-size: 16px;
        line-height: 20px;
    }

    .form-items {
        flex-direction: column;
    }

    .form-group p {
        font-size: 12px;
        line-height: 15px;
    }
}

